<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Albums</title>
  </head>
  <body>
    <h1>Albums</h1>
    <ul>
  {{#each albums}}
  <li>
    <img src="{{images.[0].url}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <a href="/tracks/{{id}}">View tracks</a>
  </li>
  {{/each}}
</ul>
  </body>
</html>
