<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artist Search</title>
  </head>
  <body>
    <h1>Artist Search</h1>
    <form action="/artist-search" method="GET">
      <label for="artist">Enter an artist name:</label>
      <input type="text" id="artist" name="artist">
      <button type="submit">Search for an artist</button>
    </form>
    <div id="search-results"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      
    
    </script>
  </body>
</html>
